.DS_Store

tmux/plugins
fcitx5
git
configstore
nvim/lazy-lock.json
nvim/tmp
gh
raycast
zed
opencode
mole
htop
snapzy
.zcompdump
yazi/flavors
yazi/package.toml

/raycast-x/extensions

AGENTS.md
CLAUDE.md
/openlogi
